<footer class="content dark">
  <div class="container">
    <ul class="links">
      {% if site.facebook_username %}
      <li>
        {% include icon-facebook.html username=site.facebook_username %}
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>

    <ul class="copyright">
      <li>&copy; All rights reserved.</li>
      <li>Design adapted from <a href="http://templated.co">TEMPLATED</a></li>
      <li>Images from WiE Society and <a href="http://unsplash.com">Unsplash</a></li>
    </ul>
  </div>
</footer>
