<footer class="content dark">
  <div class="container">
    <ul class="links">
      {% if site.facebook_username %}
      <li>
        {% include icon-facebook username=site.facebook_username %}
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        {% include icon-github username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter username=site.twitter_username %}
      </li>
      {% endif %}
      <li>
        <div class = "sponsor">
          <a href = "http://www.citigroup.com/citi/"><img src="/images/citi.png"></a>
        </div>
      </li>
      <li>
        <div class = "sponsor">
          <a href = "http://www.pwc.co.uk"><img src="/images/pwc.png"></a>
        </div>
      </li>
      <li>
        <div class = "sponsor">
          <a href = "http://www.bloomberg.com"><img src="/images/bloomberg.png"></a>
        </div>
      </li>
    </ul>

    <ul class="copyright">
      <li>&copy; All rights reserved.</li>
      <li>Design adapted from <a href="http://templated.co">TEMPLATED</a></li>
      <li>Images from our society and <a href="http://unsplash.com">Unsplash</a></li>
    </ul>
  </div>
</footer>
