<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<header class="main">
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}{% if page.title and page.title != "Home" %}: {{ page.title }}{% endif %}</a></h1>
  <nav id="nav">
    {% for my_page in site.pages %}
      {% if my_page.title %}
        <div {% if my_page.order %}
                style="-webkit-order: {{ my_page.order }}; order: {{ my_page.order }};"
             {% endif %}>
             <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </nav>
</header>
