<section class="banner">
<!--  <div class="bg">
    {% include image image="coverphoto.png" %}
  </div>
-->

  
  <div class= "carousel-container">
    <script type="text/javascript">
        $(document).ready(function(){
          $('.carousel').slick({
            infinite: true,
            arrows: true,
            autoplay: true,
            autoplaySpeed: 2500
          });
       });
    </script>

    <div class="carousel" >
      <img src="images/banner/womensday.png" alt="International Women's day">
      <img src="images/banner/boat1.jpg" alt="Boat trip">
      <img src="images/banner/boat2.jpg" alt="Boat trip">
      <img src="images/banner/boat3.jpg" alt="Boat trip">
      <img src="images/banner/dinner.jpg" alt="Dinner">
      <img src="images/banner/pledge.png" alt="Pledge for parity">
    </div>  
    <div class="join-button">
      <ul class="actions">
        <li>
          <a href="{{ site.mailing_list_signup_url }}" class="button big">Join the mailing list!</a>
        </li>
      </ul>
    </div>   
  </div>
</section>
