@charset "UTF-8";
@import url(font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

/*
	Adapted from Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Section/Article */
header {
  p {
    color: $grey-color;
    position: relative;
    margin: 0 0 1.5em 0;
  }

  h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.5em;
  }

  h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
    line-height: 1.5em;
  }

  h4 + p,
  h5 + p,
  h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
    line-height: 1.5em;
  }

  &.major {
    text-align: center;
    margin-bottom: 4em;

    &.bottom0 {
      margin-bottom: 0;
    }

    h2 {
      font-size: 3em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1.5em;
    }

    img {
      width: 30%;
      height: auto;
      max-width: 150px;
      min-width: 100px;
    }
  }
}


/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: $button-bg-color;
	border-radius: 30px;
	border: 0;
	color: $white-color !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 66px;
	line-height: 2.95em;
	padding: 0 2em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;

	&:hover {
		background-color: $button-bg-color-light;
		text-decoration: none;
	}

	&:active {
		background-color: $button-bg-color-light;
		text-decoration: none;
	}

	&.fit {
		display: block;
		margin: 0 0 1em 0;
		width: 100%;
	}

	&.small {
		font-size: 0.8em;
	}

	&.big {
		font-size: 1.35em;
	}

	&.disabled, &:disabled {
		background-color: #444 !important;
		box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
		color: #fff !important;
		cursor: default;
		opacity: 0.25;
	}
}



/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;

	&:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	&:active, &:hover {
		text-decoration: none;
	}

	& > .label {
		display: none;
	}

	&.rounded {
		background-color: #383b43;
		border-radius: 100%;
		color: #ffffff;
		display: inline-block;
		height: 3.25em;
		line-height: 3.25em;
		text-align: center;
		width: 3.25em;

		&.big {
			font-size: 2.5em;
			margin-bottom: 0.5em;
		}

		&.color1 {
			background-color: #3cadd4;
		}

		&.color2 {
			background-color: #3c61d4;
		}

		&.color3 {
			background-color: #633cd4;
		}

		&.color4 {
			background-color: #af3cd4;
		}

		&.color5 {
			background-color: #d43cad;
		}

		&.color6 {
			background-color: #d43c61;
		}

		&.color7 {
			background-color: #d4633c;
		}

		&.color8 {
			background-color: #d4af3c;
		}

		&.color9 {
			background-color: #add43c;
		}

		&.color10 {
			background-color: #61d43c;
		}

		&.fa-twitter {
			background-color: #2daae4;
		}

		&.fa-facebook {
			background-color: #39599f;
		}

		&.fa-google-plus {
			background-color: #c91e1f;
		}

		&.fa-dribbble {
			background-color: #c4376b;
		}

		&.fa-tumblr, &.fa-linkedin {
			background-color: #31516a;
		}

		&.fa-rss {
			background-color: #f2600b;
		}
  }
}



/* Image */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;

  img {
    border-radius: 4px;
    display: block;
  }

  &.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
  }

  &.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
  }

  &.left, &.right {
    max-width: 40%;

    img, img {
      width: 100%;
    }
  }

  &.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;

    img {
      width: 100%;
    }
  }
}



/* List */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }

  &.alt {
    list-style: none;
    padding-left: 0;

    li {
      border-top: solid 1px $grey-color-dark;
      padding: 0.5em 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
  }

  &.unstyled {
    list-style: none;
    padding-left: 0;

    & li {
      padding: 0.4em 0;
    }
  }

  &.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    & li {
      display: inline-block;
      padding: 0 1em 0 0;

      &:last-child {
        padding-right: 0;
      }

      .icon:before {
        font-size: 2em;
      }
    }
  }

  &.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle;

      &:last-child {
        padding-right: 0;
      }
    }

    &.small li {
      padding: 0 0.5em 0 0;
    }

    &.vertical li {
      display: block;
      padding: 1em 0 0 0;

      &:first-child {
        padding-top: 0;
      }

      & > * {
        margin-bottom: 0;
      }
    }

    &.small li {
      padding: 0.5em 0 0 0;

      &:first-child {
        padding-top: 0;
      }
    }

    &.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em);

      li {
        display: table-cell;
        padding: 0 0 0 1em;

        & > * {
          margin-bottom: 0;
        }
      }

      &.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em);

        li {
          padding: 0 0 0 0.5em;
        }
      }
    }
  }
}

dl {
	margin: 0 0 2em 0;
}



/* Table */
.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;

  tbody tr {
    border: solid 1px $grey-color;
    border-left: 0;
    border-right: 0;

    &:nth-child(2n + 1) {
      background-color: $grey-color-lightest;
    }
  }

  td {
    padding: 0.75em 0.75em;
  }

  th {
    color: $grey-color-dark;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
  }

  thead {
    border-bottom: solid 2px $grey-color-dark;
  }

  tfoot {
    border-top: solid 2px $grey-color-dark;
  }

  &.alt {
    border-collapse: separate;

    tbody tr {
      &:first-child td {
        border-top-width: 1px;
      }

      td {
        border: solid 1px $grey-color-dark;
        border-left-width: 0;
        border-top-width: 0;

        &:first-child {
          border-left-width: 1px;
        }
      }
    }

    thead {
      border-bottom: 0;
    }

    tfoot {
      border-top: 0;
    }
  }
}


/* Header */
header.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;

  width:100%;
  padding: 30px 3% 30px 3%;

  background-color: $header-main-bg-color;
  color: #fff;

  h1 {
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    margin: 10px 10px 10px 10px;
    text-align: center;
  }

  nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;

    margin: 10px 0 10px 0;

    div {
      margin: 0 10px 0 10px;

      a {
        color: #fff;
      }
    }
  }
}



/* Banner */
.banner {
	background-color: $banner-bg-color;
	color: #ffffff;
	text-align: center;
	position: relative;
	width: 100%;
	height: 400px;

	.bg {
		width: 50%;
		height: 90%;
		position: absolute;
		left: 50%;

		img {
			margin-left: -100%;
			position: relative;
			width: auto;
			height: 100%;
      opacity: 0.3;
		}
	}

	.content {
		position: absolute;
		top: 35%;
		left: 10%;
		width: 80%;
		height: 65%;
		background-color: transparent;
		z-index: 2;

		@media (max-width: 1090px) {
			top:15%;
			height: 85%;
		}
	}

	.actions {
		position: absolute;
		top: calc(100% - 33px);
		left: calc(50% - 152.5px);
		margin-bottom: 0;
	}

	h2 {
		color: $white-color;
		font-size: 3em;
		line-height: 1.25em;
		margin: 0 0 0.5em 0;
		padding: 0;
	}

	p {
		font-size: 1.3em;
		margin-bottom: 1.75em;
	}
}



/* Wrapper */
section.content, footer.content, article.content {
	padding: 6em 0em 4em;

	&.medium {
		background-color: $off-white-color;
		border-bottom: 1px solid $grey-color;
		border-top: 1px solid $grey-color;
	}

	&.dark {
		background: #171818;
	}

	.container {
		width: 70%;
		margin: 0 15% 0 15%;

		.boxes {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: stretch;
			align-items: stretch;

			.box {
				width: 30%;
				min-width: 340px;
				background-color: #fff;
				padding: 3em 2.5em;

				border-radius: 4px;
				border: solid 1px $grey-color-light;
				margin: 0 0.5em 1em 0.5em;
				padding: 1.5em;

				&.alt {
					border: 0;
					border-radius: 0;
					padding: 0;
				}

				& > :last-child,
				& > :last-child > :last-child,
				& > :last-child > :last-child > :last-child {
					margin-bottom: 0;
				}

				h2, h3, h4, h5, h6 {
					color: $grey-color;
				}
			}
		}
	}
}



/* Committee Members */
.committee {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;

  width: 100%;
  height: 100%;

  &-member {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: left;
    justify-content: left;

    width: 400px;
    margin: 10px;
    padding: 10px;

    text-align: left;

    img {
      border-radius: 50%;
      width: 92px;
      height: 92px;
      margin: 10px 30px 10px 10px;
    }

    div {
      width: 232px;
    }

    h4 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
      margin-top: 0;
      text-align: left;
      word-break: normal;
      word-wrap: break-word;
    }

    p:nth-child(4) {
      font-size: 90%;
      font-style: italic;
    }
  }
}


/* Columns */
.columns {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  height: auto;

  * {
    display: inline-block;
  }

  &.two * {
    max-width: 49%;

    * {
      max-width: 100%;
    }
  }

  &.three * {
    max-width: 30%;

    * {
      max-width: 100%;
    }
  }

  &.four * {
    max-width: 24%;

    * {
      max-width: 100%;
    }
  }
}


/* Footer */
footer {
  padding: 6em 0em 4em;

  h2, h3, h4 {
    color: $white-color;
  }

  p, a {
    color: $grey-color-light;
  }

  li {
    color: $grey-color;
    display: inline-block;
    list-style: none;
    margin-left: 0.5em;
    padding-left: 0.5em;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .links {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      margin-top: 1em;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      .fa {
        display: inline-block;
        width: 70px;
        height: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 3em !important;
      }
      .username {
        font-size: 1.3em;
        vertical-align: middle;
      }
    }
  }

  .copyright {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2em;
    font-size: 80%;

    a {
      color: $grey-color;
    }
  }
}
